{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  <footer>
        <div class="colonne">
            <h3>Pour Nous contacter</h3>
            <p>Adresse Mail : OnAimelaVie@gmail.com</p>
            <p>Téléphone : 06 81 58 36 76</p>
        </div>
        <div class="colonne">
            <h3>nos Réseaux</h3>
            <a href="https://github.com/Xaaryne/ProjetAP3">
                <p>Liens vers notre page Github</p>
            </a>
        </div>
    </footer>

</body>

</html>
</div>
{% endblock %}
