{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur ALL4SPORTS !</h1>
    <a href="/categorie" hover="Cyclisme">
    {% for LISTESPORT in listesport %}
        {{ LISTESPORT.sport }}
        {% if loop.index is divisible by(3) and not loop.last %}
            <br>
        {% endif %}
    {% endfor %}
    <a>
    {% for PHOTOSACCUEIL in photosaccueil %}
        <img src={{PHOTOSACCUEIL.photos}} width="300" height="300">
    {% endfor %}
    <p>Catégorie Cyclisme</p>
    </div>
{% endblock %}
