{% extends 'base.html.twig' %}

{% block title %}Hello CategorieListController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="/css/CatégorieProduits.css">
<div class="example-wrapper">
    <h1>liste des produit dans la catégorie : {{sport}}</h1>
    <div>
        {% for PRODUIT in produit %}
            {% if PRODUIT.sport.id == id%}

                {% for PHOTOS in photos %}
                    {% if PHOTOS.produit.id == PRODUIT.id %}
                    <div class = "produit">
                        <a href="{{path('app_article',{id:PRODUIT.id})}}">
                            <img src={{PHOTOS.photos}} width="250" height="250">
                        <a>
                        <br>
                        <div class ="nomproduit">
                            <p1>{{PRODUIT.nom}}</p1>
                        </div>
                    </div>
                    {% endif %} 
                {% endfor %}

            {% endif %}    
        {% endfor %}
    </div>
</div>
{% endblock %}
