<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>ALL4SPORT</title>
			<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>

	<body>
		<div class="example-wrapper">
			<nav>
				<div class="profile">
					<a href="accueil">
						<img src="../images/logo.png" alt="logo">
					</a>
					<h1>All 4 Sport</h1>
				</div>
				<ul>
					<a href="categorieList">
						<li>Catégorie</li>
					</a>
					<a href="connexion">
						<li>Connexion</li>
					</a>
					<a href="panier">
						<li>Panier</li>
					</a>
				</ul>
			</nav>
		</div>
		{% block body %}{% endblock %}
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>
		<div class="example-wrapper">
			<footer>
				<div class="colonne">
					<h3>Pour Nous contacter</h3>
					<p>Adresse Mail : OnAimelaVie@gmail.com</p>
					<p>Téléphone : 06 81 58 36 76</p>
				</div>
				<div class="colonne">
					<h3>nos Réseaux</h3>
					<a href="https://github.com/Xaaryne/ProjetAP3">
						<p>Liens vers notre page Github</p>
					</a>
				</div>
			</footer>
		</div>
	</body>
</html>
