{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}
{% block body %}
<head>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="image-article" style="float:left">
            {% for PHOTOS in photos %}
                {% if PHOTOS.produit.id == id %}
                    <img src={{PHOTOS.photos}} width="250" height="250">
                {% endif %}
            {% endfor %}

    </div>
    <div class="text-article" style="float:left">
        {% for PRODUIT in produit %}
            {% if PRODUIT.id == id%}
                <h1>{{PRODUIT.nomproduit}}</h1>
                <h3>{{PRODUIT.description}}</h3>
            {% endif %}
        {% endfor %}
        </div>
    <div class="text-commander" style="float:right">
    <table>
        <thead>
            <tr>
                <th>Commander</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><button>Ajouter au panier</button></th>
        </tbody>
    </table>
    </div>
</body>

{% endblock %}
